<!-- 繼承模板 -->
{% extends 'news/base.html' %} 
{% block content %} 
<div class="panel-body">   
	<div class=" container-fluid ">
	<table class="table">
		<div class="row">
			<div class="col-md-8"> 
				{% for post in posts %}
				<div class="post"> 
					<div class="date"> 
					  <p>發佈時間: {{post.created_date}}</p>
					</div>
					<h2><a href="">{{post.title}}</a></h2>             
					<p>{{post.content|linebreaks}}</p>
				</div>
				<div class="panel-footer">Panel footer</div>
				{% endfor %} 
			</div>  

			<!-- 右區塊文章分類 -->
			<div class="hidden-xs col-sm-4 col-md-3 col-lg-2">			
				<div class="list-group">
				<div class="list-group-item list-group-item-success lead">新聞分類</div>
					{% for type in types %}
					<a href="{% url 'news_list' %}" class="list-group-item">
						{{ type.type_name }}
						<span class="badge">14</span>
					</a>					
					{% empty %}
					<ul>暫無分類，敬請期待</ul>
					{% endfor %}
				</div>

			</div>		 
		</div> 
	</table>
	</div>
	
	
</div>
{% endblock %}